<div class="row">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-5">
    <h2><%= User.model_name.human %> <%=  t(:user_edit, :scope => [:application]) %></h2>
    <hr>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => "form" }) do |f| %>

      <%= devise_error_messages! %>

      <!--
      <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>
      -->

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password %> <i><%= User.human_attribute_name("password_msg") %></i>
        <%= f.password_field :password, :autocomplete => "off", :class => "form-control", :required => true %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => "form-control", :required => true %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i> <%= User.human_attribute_name("current_password_msg") %></i>
        <%= f.password_field :current_password, :class => "form-control", :required => true %>
      </div>

      <div class="form-group">
        <%= f.submit "Update", :class => "btn btn-primary btn-block" %>
      </div>
    <% end %>

  </div>
  <div class="col-md-5">
    <h2><%= t(:cancel_user, :scope => [:application]) %></h2>
    <hr>

    <center>
      <i class="fa fa-frown-o icon" style="font-size:128px;"></i>
      <br>
      <abbr class="initialism">
        <h2>
          Unhappy
        </h2>
      </abbr>
    </center>
    <br><br>
    <%= button_to  t(:cancel_user, :scope => [:application]), registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger btn-block" %>

<!-- <%= link_to "Back", :back %> -->
  </div>

  <div class="col-md-2">&nbsp;</div>
</div>

