<% if names.size > 0 %>
  <table class="table table-striped table-condensed" id="names_table">
    <thead>
      <th><%= Name.human_attribute_name("original") %></th>
      <th><%= Name.human_attribute_name("current") %></th>
      <th><%= Name.human_attribute_name("latlon") %></th>
    </thead>
    <tbody>
      <% names.each do |name| %>
      <tr>
        <% if name.latlon.x == 0 and name.latlon.y == 0 %>
          <td>
            <%= link_to name.original, name_path(name) %>
          </td>
        <% else %>
          <td class="draggable" data-value="<%= name.original %>" data-point="(<%= name.latlon.y %> <%= name.latlon.x  %>)">
            <%= link_to name.original, name_path(name) %>
          </td>
        <% end %>
        <td>
          <%= link_to name.current, name_path(name) %>
        </td>
        <td id="<%= name.original %>">
          <% unless name.latlon.x == 0 and name.latlon.y == 0 %>
            <i class="fa fa-location-arrow"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
    <div class="jumbotron">
      <div class="hero-unit center">
        <h1><%= t(:names_not_found, :scope => [:application]) %></h1>
      </div>
    </div>
<% end %>