<script type="text/javascript">
  $(document).ready(function(){
      $(".map-image").elevateZoom({
        scrollZoom : true,
        responsive:  true,
        loadingIcon: true
      });
  });
</script>
<% if maps.size > 0 %>
  <% maps.each do |map| %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
          <div class="panel panel-default">
              <div class="row padall">
                  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                      <span></span>
                        <img id="<%= map.id %>" src="<%= map.image.url(:thumb) %>" data-zoom-image="<%= map.image.url(:medium) %>" class="img-responsive img-rounded map-image" />

                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                      <div class="clearfix">
                          <div class="pull-left">
                              <span class="fa fa-paperclip icon"> <%= number_to_human_size(map.image.size) %></span>
                          </div>
                          <div class="pull-right">
                             <%= map.kind %> | <%= map.size %> | <%= map.resolutuon %>
                          </div>
                      </div>
                      <div>
                          <h4>
                            <% if can? :read, Map %>
                              <%= link_to truncate(map.name, length: 45), map_path(map.id) %>
                            <% else %>
                              <%= map.name %>
                            <% end %>
                          </h4>
                          <span class="fa fa-bank icon"></span>  <%= map.publisher %>
                          <span class="<%= status_to_icon(map.processed) %>"><%= link_to status_to_text(map.processed), map_path(map.id) %></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  <% end %>
<% else %>
    <div class="jumbotron">
      <div class="hero-unit center">
        <h1><%= t(:names_not_found, :scope => [:application]) %></h1>
      </div>
    </div>
<% end %>