<div id="maps_table">
  <table class="table table-striped table-responsive">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Size</th>
    <th>Filename</th>
    <th>Processed</th>
    <th>Created</th>
  </thead>
  <tbody>
    <% maps.each do |map| %>
    <tr>
      <td><%= map.id %></td>
      <td>
        <%= link_to map.name, map_path(map.id) %>
      </td>
      <td><%= number_to_human_size(map.image.size) %></td>
      <td>
        <a href="<%= map.image.url(:large) %>" data-toggle="lightbox" data-title="<%= map.image.original_filename %>">
          <%= map.image.original_filename %>
        </a>
      </td>
      <td><%= status_to_icon(map.processed) %></td>
      <td><%= map.created_at.strftime("%Y-%B-%e") %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>
