<script type="text/javascript">
  $(document).ready(function(){
      $("#<%= @map.id %>").elevateZoom({
        scrollZoom : true,
        responsive:  true,
        loadingIcon: true
      });
  });
</script>
<div class="row">
  <h1><%=  Map.model_name.human %> <%= t(:extended_attributes, :scope => [:map]) %></h1>
  <hr>
  <!-- left column -->
  <div class="col-md-3">
    <div class="text-center">
      <a href="<%= @map.image.url(:large) %>" data-toggle="lightbox" data-title="<%= @map.image.original_filename %>">
        <img id="<%= @map.id %>" src="<%= @map.image.url(:medium) %>" data-zoom-image="<%= @map.image.url(:large) %>" class="img-responsive img-rounded" />
      </a>
    </div>
    <br>
    <div id="table">
      <table class="table table-striped table-responsive">
      <tbody>
          <tr>
            <td><%= Map.human_attribute_name("name") %></td>
            <td>
            <%= link_to @map.name, map_path(@map.id) %>
            </td>
          </tr>
          <tr>
            <td><%= Map.human_attribute_name("size") %></td>
            <td><%= number_to_human_size(@map.image.size) %></td>
          </tr>
          <tr>
            <td><%= Map.human_attribute_name("original_filename") %></td>
            <td>
              <a href="<%= @map.image.url(:large) %>" data-toggle="lightbox" data-title="<%= @map.image.original_filename %>">
                <%= @map.image.original_filename %>
              </a>
            </td>
          </tr>
          <tr><td><%= Map.human_attribute_name("status") %></td><td><%= status_to_text(@map.processed) %></td></tr>
          <tr><td><%= Map.human_attribute_name("created") %></td><td><%= @map.created_at.strftime("%Y-%B-%e") %></td></tr>
          <tr>
            <td colspan="2">
              <%= link_to location_map_path(@map.id) do %>
                <button type="button" class="btn btn-primary btn-block"><%= t(:set_location, :scope => [:map]) %></button>
              <% end %>
            </td>
          </tr>
      </tbody>
      </table>
    </div>
  </div>

  <!-- edit form column -->
  <div class="col-md-9 personal-info">
    <% if @map.errors.any? %>
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        This is an <strong>.alert</strong>. Use this to show important messages to the user.
      </div>
    <% end %>
    <%= form_for @map, :html => {:class => "form-horizontal", :role => "form"} do |f| %>
      <div class="form-group">
        <%= f.label :name, :class => "col-lg-2 control-label" %>
        <div class="col-sm-7">
          <%= f.text_field :name, :class => "form-control", :placeholder => "Name your map", :type => "text" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :kind, :class => "col-lg-2 control-label" %>
        <div class="col-sm-7">
          <%= f.text_field :kind, :class => "form-control", :placeholder => "Kind of map", :type => "text" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :size, :class => "col-lg-2 control-label" %>
        <div class="col-sm-7">
          <%= f.text_field :size, :class => "form-control", :placeholder => "Size of your map", :type => "text" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :resolution, :class => "col-lg-2 control-label" %>
        <div class="col-sm-7">
          <%= f.text_field :resolutuon, :class => "form-control", :placeholder => "Resolution of your map", :type => "text" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :publisher, :class => "col-lg-2 control-label" %>
        <div class="col-sm-7">
          <%= f.text_field :publisher, :class => "form-control", :placeholder => "Publisher of your map", :type => "text" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-2">&nbsp;</div>
        <div class="col-sm-7">
          <%= f.check_box :downloadable %> <%= f.label :downloadable %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-2">&nbsp;</div>
        <div class="col-sm-7">
          <%= f.check_box :processed %> <%= f.label :processed %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-3">
          <%= link_to t(:cancel, :scope => [:application]), map_path, :class => "btn btn-primary btn-block" %>
        </div>
        <div class="col-sm-4">
          <%= f.submit t(:save, :scope => [:application]), :class => "btn btn-primary btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
