<script type="text/javascript">
  $(document).ready(function(){
    $("#<%= @map.id %>").elevateZoom({
      zoomType: "lens",
      lensShape: "round",
      scrollZoom : true,
      responsive:  true,
      loadingIcon: true
    });
    $('.map-text').editable({
      inlineMode: false, 
      height: '300',
      toolbarFixed: false,
      paragraphy: false
    });

    $("#mapInfoPanel li").click(function(){
      // HIDE ALL MAP INFO DIVS AND LIST ITEM INACTIVE
      var infoDivs = ['attributes', 'description', 'remarks', 'image'];
      var listItems = ['textualLI', 'descriptionLI', 'remarksLI', 'previewLI'];

      if(this.id.localeCompare('downloadableLI') != 0 && this.id.localeCompare('processedLI') != 0){
        for(var i = 0; i < infoDivs.length; i++){
          $('#' + infoDivs[i]).addClass('hidden');
          $('#' + listItems[i]).removeClass('active');
        }        

        // SHOW DIV BY LIST ITEM
        switch(this.id){
          case 'textualLI':
            $('#attributes').removeClass('hidden');
            break;
          case 'descriptionLI':
            $('#description').removeClass('hidden');
            break;
          case 'remarksLI':
            $('#remarks').removeClass('hidden');
            break;
          case 'previewLI':
            $('#image').removeClass('hidden');
            break;
          default:
            break;
        }
      }

      // SET ACTIVE LIST ITEM
      $(this).addClass('active');

    });

  });
</script>

<%= form_for @map, :html => {:class => "form-horizontal", :role => "form"} do |f| %>
<div class="row profile">
  <div class="col-md-3">
    <div class="profile-sidebar">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic">
        <!--<center><a data-toggle="modal" class="btn btn-circle-lg btn-info"><i class="fa fa-info"></i> </a></center>-->
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          <%= @map.name %>
        </div>
        <div class="profile-usertitle-job map-author">
          <%= @mapgroup.name %>
        </div>
      </div>
      <!-- END SIDEBAR USER TITLE -->
      <!-- SIDEBAR MENU -->
      <div class="profile-usermenu">
        <ul id="mapInfoPanel" class="nav">
          <li id="textualLI" class="active">
            <a>
              <i class="glyphicon glyphicon-th-list"></i>
              <%= t(:set_attributes, :scope => [:application]) %>
            </a>
          </li>
          <li id="descriptionLI">
            <a>
              <i class="glyphicon glyphicon-font"></i>
              <%= t(:set_description, :scope => [:application]) %>
            </a>
          </li>
          <li id="remarksLI">
            <a>
              <i class="glyphicon glyphicon-bold"></i>
              <%= t(:set_remarks, :scope => [:applicaton]) %>
            </a>
          </li>
          <li id="previewLI">
            <a>
            <i class="fa fa-file-image-o"></i>
            Preview </a>
          </li>
          <li id="downloadableLI">
            <a>
              <i><%= f.check_box :downloadable %></i>
              <%= Map.human_attribute_name("downloadable") %>
            </a>
          </li>
          <li id="processedLI">
            <a>
              <i><%= f.check_box :processed %></i>
              <%= Map.human_attribute_name("processed") %>
            </a>
          </li>
          <li>
            <%= link_to '#', :onclick => '$(".form-horizontal").submit()' do %>
              <i class="glyphicon glyphicon-floppy-disk"></i>
              <%= t(:save_modifications, :scope => [:application]) %>
            <% end %>
          </li>
          <li>
            <%= link_to map_path(@map.id) do %>
              <i class="glyphicon glyphicon-remove-circle"></i>
              <%= t(:cancel, :scope => [:application]) %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- FORM CONTENT -->
  <div class="col-md-9">
    <div class="profile-content">
      <div id="attributes">
          <!-- ATTRIBUTES -->
          <div class="col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading"><%= t(:extended_attributes, :scope => [:map]) %></div>
              <div class="panel-body">
                <table class="table table-responsive">
                <tbody>
                    <tr>
                      <td class="text-success small-head-line"><%= Map.human_attribute_name("kind") %></td>
                      <td class="">
                        <%= f.text_field :kind, :class => "form-control", :placeholder => "Kind of map", :type => "text" %>                
                      </td>
                    </tr>
                    <tr>
                      <td class="text-success small-head-line"><%= Map.human_attribute_name("size") %></td>
                      <td class="">
                        <%= f.text_field :size, :class => "form-control", :placeholder => "Size of your map", :type => "text" %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-success small-head-line"><%= Map.human_attribute_name("resolution") %></td>
                      <td class="">
                          <%= f.text_field :resolution, :class => "form-control", :placeholder => "Resolution of your map", :type => "text" %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-success small-head-line"><%= Map.human_attribute_name("year") %></td>
                      <td class="">
                        <%= f.text_field :year, :class => "form-control", :type => "text" %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-success small-head-line"><%= Map.human_attribute_name("theme") %></td>
                      <td class="">
                        <%= f.text_field :theme, :class => "form-control", :type => "text" %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-success small-head-line"><%= Map.human_attribute_name("creator") %></td>
                      <td class="">
                        <%= f.text_field :creator, :class => "form-control", :type => "text" %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-success small-head-line"><%= Map.human_attribute_name("participante") %></td>
                      <td class="">
                        <%= f.text_field :participante, :class => "form-control", :type => "text" %>
                      </td>
                    </tr>
                </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- EXTENDED ATTRIBUTES -->
          <div class="col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading"><%= t(:additional_attributes, :scope => [:map]) %></div>
              <div class="panel-body">
                <table class="table table-responsive">
                  <tbody>
                    <tr>
                      <td class="text-warning small-head-line"><%= Map.human_attribute_name("section") %></td>
                      <td class="">
                      <%= f.text_field :section, :class => "form-control", :type => "text" %>              
                      </td>
                    </tr>
                    <tr>
                      <td class="text-warning small-head-line"><%= Map.human_attribute_name("projection") %></td>
                      <td class="">
                      <%= f.text_field :projection, :class => "form-control", :placeholder => "EPGS:23700", :type => "text" %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-warning small-head-line"><%= Map.human_attribute_name("gridding") %></td>
                      <td class="">
                      <%= f.text_field :gridding, :class => "form-control", :type => "text" %>              
                      </td>
                    </tr>
                    <tr>
                      <td class="text-warning small-head-line"><%= Map.human_attribute_name("source") %></td>
                      <td class="">
                        <%= f.text_field :source, :class => "form-control", :type => "text" %>              
                      </td>
                    </tr>
                    <tr>
                      <td class="text-warning small-head-line"><%= Map.human_attribute_name("language") %></td>
                      <td class="">
                        <%= f.text_field :language, :class => "form-control", :type => "text" %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
      <!-- DESCRIPTION -->
      <div id="description" class="hidden">
        <textarea id="map-description-textarea" name="map[description]" class="map-text"><%= @map.description %></textarea>
      </div>
      <!-- REMARKS -->
      <div id="remarks" class="hidden">
        <textarea id="map-remarks-textarea" name="map[remarks]" class="map-text"><%= @map.remarks %></textarea>
      </div>
      <div id="image" class="hidden">
        <img id="<%= @map.id %>" src="<%= @map.image.url(:large) %>" class="img-responsive" />
      </div>
    </div>
  </div>
</div>
<% end %>