<script type="text/javascript">
  $(document).ready(function(){
    init();
    $('[data-toggle="popover"]').popover()
    console.log("ENDO");
  });
</script>

<div class="row">
    <br>
    <nav class="navbar navbar-default" role="navigation">

        <!-- Search by Town Names Form -->
          <%= form_tag overlap_maps_path, :class => "navbar-form", :role => "search"  do %>
          <div class="input-group">
            <%= hidden_field_tag 'point_geometry' %>
            <span class="input-group-addon">
              <i class="fa fa-bullseye"></i>
            </span>

            <input class="typeahead form-control" id="q" name="q" placeholder="<%= t(:placeholder_search, :scope => [:name]) %>" type="text" data-provide="typeahead"/>

            <div class="input-group-btn">
              <%= button_tag(type: "submit", class: "btn btn-success") do %>
                <%= t(:search, :scope => [:application]) %>
              <% end %>
            </div>
          </div>
          <% end %>
    </nav>
</div>

<div class="row">
    <div class="col-md-1">
          <br/>
          &nbsp;&nbsp;&nbsp;
          <button id="polygon" type="button" class="btn btn-default btn-circle btn-lg" data-toggle="popover" data-trigger="focus" data-content="<%= t(:draw_polygon, :scope => [:map]) %>" onclick="toggleControl('polygon');">
            <i class="fa fa-pencil icon"></i>
          </button>
          <br/><br/>
          &nbsp;&nbsp;&nbsp;
          <button id="box" type="button" class="btn btn-default btn-circle btn-lg" data-toggle="popover" data-trigger="focus" data-content="<%= t(:draw_rectangle, :scope => [:map]) %>" onclick="toggleControl('box');">
            <i class="fa fa-square-o icon"></i>
          </button>
          <br/><br/>
          &nbsp;&nbsp;&nbsp;
          <button id="nav" type="button" class="btn btn-default btn-circle btn-lg" data-toggle="popover" data-trigger="focus" data-content="<%= t(:move_map, :scope => [:map]) %>" onclick="toggleControl('nav');">
            <i class="fa fa-arrows-alt icon"></i>
          </button>
          <br/><br/>
          &nbsp;&nbsp;&nbsp;
          <button id="edit" type="button" class="btn btn-default btn-circle btn-lg" data-toggle="popover" data-trigger="focus" data-content="<%= t(:edit_feature, :scope => [:map]) %>" onclick="toggleControl('edit');">
            <i class="fa fa-wrench icon"></i>
          </button>
          <br/><br/>
          &nbsp;&nbsp;&nbsp;
          <button id="select" type="button" class="btn btn-default btn-circle btn-lg" data-toggle="popover" data-trigger="focus" data-content="<%= t(:select_feature, :scope => [:map]) %>" onclick="toggleControl('select');">
            <i class="fa fa-hand-o-up icon"></i>
          </button>
          <br/><br/>
          &nbsp;&nbsp;&nbsp;
          <button id="remove" type="button" class="btn btn-default btn-circle btn-lg" data-toggle="popover" data-trigger="focus" data-content="<%= t(:remove_feature, :scope => [:map]) %>" onclick="removeFeature();">
            <i class="fa fa-cut icon"></i>
          </button>
          <br/><br/>
          <%= form_tag related_maps_path, :class => "navbar-form"  do %>
            <%= hidden_field_tag 'geometry' %>
              <%= button_tag(type: "submit", :onclick => "return setMapData();", class: "btn btn-info btn-circle btn-lg") do %>
                  <i class="fa fa-search"></i>
              <% end %>
          <% end %>
    </div>
    <div class="col-md-11">
      <!-- MAP -->
      <div id="map" class="smallmap border-radius"></div>
      <!-- END MAP -->      
    </div>
</div>