<script type="text/javascript">
  $(document).ready(function(){
    init();

    console.log("ENDO");
  });
</script>

<div class="row">
    <br>
    <nav class="navbar navbar-default" role="navigation">

        <!-- Search by Town Names Form -->
          <%= form_tag overlap_maps_path, :class => "navbar-form", :role => "search"  do %>
          <div class="input-group">
            <%= hidden_field_tag 'point_geometry' %>
            <span class="input-group-addon">
              <i class="fa fa-bullseye"></i>
            </span>

            <input class="typeahead form-control" id="q" name="q" placeholder="<%= t(:placeholder_search, :scope => [:name]) %>" type="text" data-provide="typeahead"/>

            <div class="input-group-btn">
              <%= button_tag(type: "submit", class: "btn btn-success") do %>
                <%= t(:search, :scope => [:application]) %>
              <% end %>
            </div>
          </div>
          <% end %>
    </nav>


    <!-- END EDITING TOOLS -->

    <!-- MAP -->
    <div id="map" class="smallmap border-radius"></div>
    <!-- END MAP -->

    <!-- EDITING TOOLS -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:void(0);"><%= t(:tools, :scope => [:map]) %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li id="polygon">
              <a href="javascript:void(0)" onclick="toggleControl('polygon');">
                <i class="fa fa-pencil icon"></i> &nbsp;
                <%= t(:draw_polygon, :scope => [:map]) %>
              </a>
            </li>
            <li id="box">
              <a href="javascript:void(0)" onclick="toggleControl('box');">
                <i class="fa fa-square-o icon"></i> &nbsp;
                <%= t(:draw_rectangle, :scope => [:map]) %>
              </a>
            </li>
            <li id="nav">
              <a href="javascript:void(0)" onclick="toggleControl('nav');">
                <i class="fa fa-arrows-alt icon"></i>
                <%= t(:move_map, :scope => [:map]) %>
              </a>
            </li>

            <li id="edit">
              <a href="javascript:void(0)" onclick="toggleControl('edit');">
                <i class="fa fa-wrench icon"></i>
                <%= t(:edit_feature, :scope => [:map]) %>
              </a>
            </li>
            <li id="select">
              <a href="javascript:void(0)" onclick="toggleControl('select');">
                <i class="fa fa-hand-o-up icon"></i>
                <%= t(:select_feature, :scope => [:map]) %>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" onclick="removeFeature();">
                <i class="fa fa-cut icon"></i>
                <%= t(:remove_feature, :scope => [:map]) %>
              </a>
            </li>
            <li>
              <%= form_tag related_maps_path, :class => "navbar-form"  do %>
                <%= hidden_field_tag 'geometry' %>
                  <%= button_tag(type: "submit", :onclick => "return setMapData();", class: "btn btn-info btn-lg") do %>
                    <%= t(:search_by_map, :scope => [:application]) %>
                  <% end %>
              <% end %>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


</div>
