<script type="text/javascript">
  var polygons = JSON.parse('<%= raw @polygons %>');
  var wkt = new OpenLayers.Format.WKT();
  var viewMode = true;

  $(document).ready(function(){
      var lastClicked;
      var clickedGrid;

      ////////////////////////////////////////////////////////////////////////////////
      /**
       * SET DEFAULT GRID SIZE 2X2
       */
      var grid = clickableGrid(2,2,function(el,row,col,i){
        el.className='clicked';
        if (lastClicked){
          lastClicked.className='';
        }
        lastClicked = el;
        clickedGrid = el.innerHTML;
        currentFeatureLabel = clickedGrid;
      });
      // ADD GRIDS TO MAP IMAGE
      $('#grid-source').append(grid);

      /**
       * GRID ON IMAGE AND FEATURE ON MAP.
       */
      $("#gridNameForm").submit(false);
      $("#gridNameForm").submit(function(event){
          var gridName = $("#gridNameTxt").val();
          
          if(gridName != clickedGrid){
            alert("Invalid Grid Name");
          }else{
            selectedFeature.attributes = {grid: gridName};
            var str = formats['out']['wkt'].write(selectedFeature, false);
            $("#grids_"+gridName).val(str);
            vectorLayer.redraw();
          }
      });

      var gridSliderValue = $('#gridsizeSelect').change(function(ev){
        $("#grid").remove();
        $(".wkt_grids").remove();

        var gridSize = $(this).val();
        var newGrid = clickableGrid(gridSize,gridSize,function(el,row,col,i){
          el.className='clicked';
          if (lastClicked){
            lastClicked.className='';
          }
          lastClicked = el;
          clickedGrid = el.innerHTML;
          currentFeatureLabel = clickedGrid;
        });

        for(i = 1; i <= gridSize*gridSize; i++ ){
          $("#editMapFormDiv").append('<input class="wkt_grids" id="grids_A' + i + '" name="grids[A' + i + ']" type="hidden" value="" />');
        }
        $("#grid-source").html("");
        $("#grid-source").append(newGrid);
      });
      ////////////////////////////////////////////////////////////////////////////////

      init();

      ////////////////////////////////////////////////////////////////////////////////
      /**
       * ADD EXISTING FEATURES ON MAP
       */
      for(idx in polygons){
        polygon = polygons[idx];
        var feature = wkt.read(polygon.bbox);
        feature.attributes = {
          grid: polygon.name
        };
        feature.geometry.transform(map.displayProjection, map.getProjectionObject());
        vectorLayer.addFeatures([feature]);
      }
      // ZOOM TO FEATURES EXTENT
      if(polygons.length > 0){
        map.zoomToExtent(vectorLayer.getDataExtent());
      }
      ////////////////////////////////////////////////////////////////////////////////

      ////////////////////////////////////////////////////////////////////////////////
      /**
       * MAGNIFIER SETTINGS
       */
      var image = $("#<%= @map.id %>");
      var magnifier = $("#magnifier");
      var magnifier_status = $("#magnifier_status");
      var magnifier_label = $("#magnifier_label");
      var zoomConfig = {
              zoomType: "lens",
              lensShape: "round",
              lensSize: 400,
              scrollZoom : true,
              responsive:  true,
              loadingIcon: true
            };
      var zoomActive = false;
      magnifier.on('click', function(){
          zoomActive = !zoomActive;
          if(zoomActive){
               image.elevateZoom(zoomConfig);//initialise zoom
               magnifier_status.attr("class", "fa fa-check-square-o icon pull-right");
               magnifier_label.html("<%= t(:magnifier_on, :scope => [:application]) %>");
          }else{
              $.removeData(image, 'elevateZoom');//remove zoom instance from image
              $('.zoomContainer').remove();// remove zoom container from DOM
              magnifier_status.attr("class", "fa fa-square-o icon pull-right");
              magnifier_label.html("<%= t(:magnifier_off, :scope => [:application]) %>");
          }
      });
      ////////////////////////////////////////////////////////////////////////////////

      console.log("END");

  });

function setData(){
  var features = vectorLayer.features;
  for(idx in features){
    var feature = features[idx];
    var wkt = formats['out']['wkt'].write(feature, false);
    $("#grids_" + feature.attributes.grid).val(wkt);
  }
  $(".form-horizontal").submit();
}


</script>

<div id="editMapFormDiv" class="row">
<%= form_tag set_grids_map_path, :class => "form-horizontal", :role => "form" do %>
  <!-- LEFT MENU -->
  <div class="col-md-3">
    <div class="profile-sidebar">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic">
        <!--<center><a data-toggle="modal" class="btn btn-circle-lg btn-info"><i class="fa fa-info"></i> </a></center>-->
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          <%= t(:tools, :scope => [:map]) %>
        </div>
      </div>
      <!-- END SIDEBAR USER TITLE -->
      <!-- SIDEBAR MENU -->
      <div class="profile-usermenu">
        <ul id="mapInfoPanel" class="nav">
          <li>
            <a>
              <i class="glyphicon glyphicon-th"></i>
              <%= t(:grid_size, :scope => [:map]) %>:
              <select id="gridsizeSelect">
                <option>1</option>
                <option selected="selected">2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
              </select>
            </a>
          </li>
          <li id="magnifier">
            <a>
              <i class="glyphicon glyphicon-zoom-in"></i>
              <%= t(:magnifier, :scope => [:application]) %>
              <abbr id="magnifier_label"><%= t(:magnifier_off, :scope => [:application]) %></abbr>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" onclick="toggleControl('polygon');">
              <i class="glyphicon glyphicon-edit"></i>
              <%= t(:draw_polygon, :scope => [:map]) %>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" onclick="toggleControl('box');">
              <i class="glyphicon glyphicon-stop"></i>
              <%= t(:draw_rectangle, :scope => [:map]) %>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" onclick="toggleControl('nav');">
              <i class="glyphicon glyphicon-screenshot"></i>
              <%= t(:move_map, :scope => [:map]) %>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" onclick="toggleControl('edit');">
              <i class="glyphicon glyphicon-wrench"></i>
              <%= t(:edit_feature, :scope => [:map]) %>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" onclick="toggleControl('select');">
              <i class="glyphicon glyphicon-hand-up"></i>
              <%= t(:select_feature, :scope => [:map]) %>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" onclick="removeFeature();">
              <i class="glyphicon glyphicon-minus-sign"></i>
              <%= t(:remove_feature, :scope => [:map]) %>
            </a>
          </li>

          <li>
            <%= link_to '#', :onclick => 'return setData();' do %>
              <i class="glyphicon glyphicon-floppy-disk"></i>
              <%= t(:save_modifications, :scope => [:application]) %>
            <% end %>
          </li>
          <li>
            <%= link_to map_path(@map.id) do %>
              <i class="glyphicon glyphicon-remove-circle"></i>
              <%= t(:cancel, :scope => [:application]) %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- CONTENT -->    
  <div class="col-md-9">
    <div class="img-overlay">
      <img id="<%= @map.id %>" src="<%= @map.image.url(:large) %>" data-zoom-image="<%= @map.image.url(:large) %>" class="img-responsive img-rounded" />
      <div id="grid-source" class="grid-overlay"></div>
    </div>
  </div>
  <div id="map" class="smallmap"></div>
  <%= hidden_field_tag 'grids[A1]', '', class: 'wkt_grids' %>
  <%= hidden_field_tag 'grids[A2]', '', class: 'wkt_grids' %>
  <%= hidden_field_tag 'grids[A3]', '', class: 'wkt_grids' %>
  <%= hidden_field_tag 'grids[A4]', '', class: 'wkt_grids' %>
<% end %>
</div>

