<script type="text/javascript">
  var polygons = JSON.parse('<%= raw @polygons %>');
  var wkt = new OpenLayers.Format.WKT();

  $(document).ready(function(){
      var lastClicked;
      var clickedGrid;
      var grid = clickableGrid(2,2,function(el,row,col,i){
          el.className='clicked';
          if (lastClicked) lastClicked.className='';
          lastClicked = el;
          clickedGrid = el.innerHTML;
      });

      $('#grid-source').append(grid);

      $("#gridNameForm").submit(false);
      $("#gridNameForm").submit(function(event){
          var gridName = $("#gridNameTxt").val();
          if(gridName != clickedGrid){
            alert("Invalid Grid Name");
          }else{
            selectedFeature.attributes = {grid: gridName};
            var str = formats['out']['wkt'].write(selectedFeature, false);
            $("#grids_"+gridName).val(str);
            vectorLayer.redraw();
          }
      });

      init();

      for(idx in polygons){
        polygon = polygons[idx];
        var feature = wkt.read(polygon.bbox);
        feature.attributes = {
          grid: polygon.name
        };
        feature.geometry.transform(map.displayProjection, map.getProjectionObject());
        vectorLayer.addFeatures([feature]);
      }

      if(polygons.length > 0){
        console.log("aaaaaaa")
        map.zoomToExtent(vectorLayer.getDataExtent());
      }

      $("#<%= @map.id %>").elevateZoom({
        scrollZoom : true,
        responsive:  true,
        loadingIcon: true
      });

      console.log("END");

  });

function setData(){
  var features = vectorLayer.features;
  for(idx in features){
    var feature = features[idx];
    var wkt = formats['out']['wkt'].write(feature, false);
    $("#grids_" + feature.attributes.grid).val(wkt);
  }
}

</script>
<script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>
<div class="row">
  <div class="col-md-6">
    <div class="img-overlay">
      <img id="<%= @map.id %>" src="<%= @map.image.url(:medium) %>" data-zoom-image="<%= @map.image.url(:large) %>" class="img-responsive img-rounded" />
      <div id="grid-source" class="grid-overlay"></div>
    </div>
    <br>
    <div id="grid_loc">
      <div class="col-sm-6">
        <%= link_to "Cancel", map_path, :class => "btn btn-lg btn-primary btn-block" %>
      </div>
      <div class="col-sm-6">
        <%= form_tag set_grids_map_path, :class => "form-horizontal", :role => "form" do %>
          <%= hidden_field_tag 'grids[A1]', '' %>
          <%= hidden_field_tag 'grids[A2]', '' %>
          <%= hidden_field_tag 'grids[A3]' %>
          <%= hidden_field_tag 'grids[A4]' %>
          <%= submit_tag "Save", :onclick => "return setData();", :class => 'btn btn-lg btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <!-- EDITING TOOLS -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Tools</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li id="polygon">
              <a href="javascript:void(0)" onclick="toggleControl('polygon');">
                <i class="glyphicon glyphicon-edit"></i>
                Draw Polygon
              </a>
            </li>
            <li id="box">
              <a href="javascript:void(0)" onclick="toggleControl('box');">
                <i class="glyphicon glyphicon-stop"></i>
                Draw Rectangle
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li id="nav">
                  <a href="javascript:void(0)" onclick="toggleControl('nav');">
                    <i class="glyphicon glyphicon-screenshot"></i>
                    Move Map
                  </a>
                </li>

                <li id="edit">
                  <a href="javascript:void(0)" onclick="toggleControl('edit');">
                    <i class="glyphicon glyphicon-wrench"></i>
                    Edit Feature
                  </a>
                </li>
                <li id="select">
                  <a href="javascript:void(0)" onclick="toggleControl('select');">
                    <i class="glyphicon glyphicon-hand-up"></i>
                    Select Feature
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="javascript:void(0)" onclick="removeFeature();">
                    <i class="glyphicon glyphicon-minus-sign"></i>
                    Remove Features
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- END EDITING TOOLS -->

    <!-- MAP -->
    <div id="map" class="smallmap"></div>
    <!-- END MAP -->

    <!-- INPUT BAR -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Set Grid name</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form id="gridNameForm" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input id="gridNameTxt" type="text" class="form-control" placeholder="A1">
            </div>
            <button id="setGridName" type="submit" class="btn btn-default">Set</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- END INPUT BAR -->
  </div>
</div>