<script type="text/javascript">
  var polygons = JSON.parse('<%= raw @polygons %>');
  var wkt = new OpenLayers.Format.WKT();
  var viewMode = true;

  $(document).ready(function(){
      var lastClicked;
      var clickedGrid;
      var grid = clickableGrid(2,2,function(el,row,col,i){
        el.className='clicked';
        if (lastClicked) lastClicked.className='';
        lastClicked = el;
        clickedGrid = el.innerHTML;
      });


      $('#grid-source').append(grid);

      $("#gridNameForm").submit(false);
      $("#gridNameForm").submit(function(event){
          var gridName = $("#gridNameTxt").val();
          if(gridName != clickedGrid){
            alert("Invalid Grid Name");
          }else{
            selectedFeature.attributes = {grid: gridName};
            var str = formats['out']['wkt'].write(selectedFeature, false);
            $("#grids_"+gridName).val(str);
            vectorLayer.redraw();
          }
      });

      init();

      for(idx in polygons){
        polygon = polygons[idx];
        var feature = wkt.read(polygon.bbox);
        feature.attributes = {
          grid: polygon.name
        };
        feature.geometry.transform(map.displayProjection, map.getProjectionObject());
        vectorLayer.addFeatures([feature]);
      }

      if(polygons.length > 0){
        map.zoomToExtent(vectorLayer.getDataExtent());
      }

      var image = $("#<%= @map.id %>");
      var magnifier = $("#magnifier");
      var magnifier_status = $("#magnifier_status");
      var magnifier_label = $("#magnifier_label");
      var zoomConfig = {
              zoomType: "lens",
              lensShape: "round",
              lensSize: 400,
              scrollZoom : true,
              responsive:  true,
              loadingIcon: true
            };
      var zoomActive = false;
      magnifier.on('click', function(){
          zoomActive = !zoomActive;
          if(zoomActive){
               image.elevateZoom(zoomConfig);//initialise zoom
               magnifier_status.attr("class", "fa fa-check-square-o icon pull-right");
               magnifier_label.html("<%= t(:magnifier_on, :scope => [:application]) %>");
          }else{
              $.removeData(image, 'elevateZoom');//remove zoom instance from image
              $('.zoomContainer').remove();// remove zoom container from DOM
              magnifier_status.attr("class", "fa fa-square-o icon pull-right");
              magnifier_label.html("<%= t(:magnifier_off, :scope => [:application]) %>");
          }
      });

      $('#slider').slider({
          formater: function(value) {
            return 'Current value: '+ value;
          },
          handle: 'square',
          min: 1,
          max: 6,
          step: 1
      });

      var gridSliderValue = $('#slider').slider().on('slide', function(ev){
        $("#grid").remove();

        var gridSize = $(this).val();
        console.log(gridSize);
        var newGrid = clickableGrid(gridSize,gridSize,function(el,row,col,i){
          el.className='clicked';
          if (lastClicked) lastClicked.className='';
          lastClicked = el;
          clickedGrid = el.innerHTML;
        });
        $("#grid-source").append(newGrid);
      });

      console.log("END");

  });

function setData(){
  var features = vectorLayer.features;
  for(idx in features){
    var feature = features[idx];
    var wkt = formats['out']['wkt'].write(feature, false);
    $("#grids_" + feature.attributes.grid).val(wkt);
  }
}


</script>

<div class="row">
  <br>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= truncate(@map.name, length: 40) %> |
          1 &nbsp;&nbsp;<input id="slider" type="text" value="" data-slider-value="2" data-slider-orientation="horizontal">&nbsp;&nbsp; 8
        </h3>
      </div>
      <div class="img-overlay">
        <img id="<%= @map.id %>" src="<%= @map.image.url(:medium) %>" data-zoom-image="<%= @map.image.url(:large) %>" class="img-responsive img-rounded" />
        <div id="grid-source" class="grid-overlay"></div>
      </div>
      <div class="panel-footer">
        <i id="magnifier" class="glyphicon glyphicon-zoom-in" style="font-size:20px;"></i> &nbsp;
        <span class="text-primary">
          <b><%= t(:magnifier, :scope => [:application]) %></b>
          <abbr id="magnifier_label"><%= t(:magnifier_off, :scope => [:application]) %></abbr>
        </span>
        &nbsp; <i id="magnifier_status" class="fa fa-square-o icon pull-right" style="font-size:20px"></i>
      </div>
    </div>

    <br>
    <div id="grid_loc">
      <div class="col-sm-6">
        <%= link_to t(:cancel, :scope => [:application]), map_path, :class => "btn btn-primary btn-block" %>
      </div>
      <div class="col-sm-6">
        <%= form_tag set_grids_map_path, :class => "form-horizontal", :role => "form" do %>
          <%= hidden_field_tag 'grids[A1]', '' %>
          <%= hidden_field_tag 'grids[A2]', '' %>
          <%= hidden_field_tag 'grids[A3]' %>
          <%= hidden_field_tag 'grids[A4]' %>
          <%= submit_tag t(:save, :scope => [:application]), :onclick => "return setData();", :class => "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <!-- EDITING TOOLS -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:void(0);"><%= t(:tools, :scope => [:map]) %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li id="polygon">
              <a href="javascript:void(0)" onclick="toggleControl('polygon');">
                <i class="glyphicon glyphicon-edit"></i>
                <%= t(:draw_polygon, :scope => [:map]) %>
              </a>
            </li>
            <li id="box">
              <a href="javascript:void(0)" onclick="toggleControl('box');">
                <i class="glyphicon glyphicon-stop"></i>
                <%= t(:draw_rectangle, :scope => [:map]) %>
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t(:controls, :scope => [:map]) %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li id="nav">
                  <a href="javascript:void(0)" onclick="toggleControl('nav');">
                    <i class="glyphicon glyphicon-screenshot"></i>
                    <%= t(:move_map, :scope => [:map]) %>
                  </a>
                </li>

                <li id="edit">
                  <a href="javascript:void(0)" onclick="toggleControl('edit');">
                    <i class="glyphicon glyphicon-wrench"></i>
                    <%= t(:edit_feature, :scope => [:map]) %>
                  </a>
                </li>
                <li id="select">
                  <a href="javascript:void(0)" onclick="toggleControl('select');">
                    <i class="glyphicon glyphicon-hand-up"></i>
                    <%= t(:select_feature, :scope => [:map]) %>
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="javascript:void(0)" onclick="removeFeature();">
                    <i class="glyphicon glyphicon-minus-sign"></i>
                    <%= t(:remove_feature, :scope => [:map]) %>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- END EDITING TOOLS -->

    <!-- MAP -->
    <div id="map" class="smallmap"></div>
    <!-- END MAP -->


    <!-- INPUT BAR -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:void(0)"><%= t(:set_grid_name, :scope => [:map]) %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form id="gridNameForm" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input id="gridNameTxt" type="text" class="form-control" placeholder="A1">
            </div>
            <button id="setGridName" type="submit" class="btn btn-default">
              <%= t(:set_grid_btn, :scope => [:map]) %>
            </button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- END INPUT BAR -->
  </div>
</div>
