<script type="text/javascript">
  var polygons = JSON.parse('<%= raw @polygons %>');
  var grids = JSON.parse('<%= raw @grids %>');
  var wkt = new OpenLayers.Format.WKT();
  var viewMode = true;

  function initializeGridsOnMap(){
    for(idx in polygons){
      polygon = polygons[idx];

      var feature = wkt.read(polygon.bbox);

      if(grids.indexOf(polygon.name) > -1){
        var feature_style = {
            strokeWidth: 1,
            fillColor: '#FFA500',
            fillOpacity: 0.2,
            label : ("Grid: " + polygon.name),
            fontSize: "18px",
            fontFamily: "Verdana",
            labelAlign: "${align}",
            labelXOffset: "${xOffset}",
            labelYOffset: "${yOffset}"
        };
        feature.style = feature_style;
      }

      feature.attributes = {
        grid: polygon.name
      };


      feature.geometry.transform(map.displayProjection, map.getProjectionObject());
      vectorLayer.addFeatures([feature]);
    }

    if(polygons.length > 0){
      map.zoomToExtent(vectorLayer.getDataExtent());
    }
  };

  $(document).ready(function(){
    init();
    initializeGridsOnMap();

    $("#mapInfoPanel li").click(function(){
      // HIDE ALL MAP INFO DIVS AND LIST ITEM INACTIVE
      var infoDivs = ['image', 'information', 'gridmap', 'textual-data', ''];
      var listItems = ['infoLI', 'textualLI', 'gridsLI', 'previewLI', 'requestLI', 'updateLI'];
      if(this.id.localeCompare('requestLI') != 0 && this.id.localeCompare('updateLI') != 0){
        for(var i = 0; i < infoDivs.length; i++){
          $('#' + infoDivs[i]).addClass('hidden');
          $('#' + listItems[i]).removeClass('active');
        }
      }else{
        for(var i = 0; i < infoDivs.length; i++){
          $('#' + listItems[i]).removeClass('active');
        }
      }

      // SET ACTIVE LIST ITEM
      $(this).addClass('active');

      // SHOW DIV BY LIST ITEM
      switch(this.id){
        case 'infoLI':
          $('#information').removeClass('hidden');
          break;
        case 'textualLI':
          $('#textual-data').removeClass('hidden');
          break;
        case 'descriptionLI':
          $('#textdata').removeClass('hidden');
          break;
        case 'gridsLI':
          $('#gridmap').removeClass('hidden');
          break;
        case 'previewLI':
          $('#image').removeClass('hidden');
          break;
        default:
          break;
      }
    });
    console.log("END");
  });

</script>

<div class="row profile">
  <div class="col-md-3">
    <div class="profile-sidebar">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic">
        <!--<center><a data-toggle="modal" class="btn btn-circle-lg btn-info"><i class="fa fa-info"></i> </a></center>-->
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          <%= @map.name %>
        </div>
        <div class="profile-usertitle-job map-author">
          <%= @mapgroup.name %>
        </div>
      </div>
      <!-- END SIDEBAR USER TITLE -->
      <!-- SIDEBAR MENU -->
      <div class="profile-usermenu">
        <ul id="mapInfoPanel" class="nav">
          <li id="infoLI">
            <a>
            <i class="fa fa-info"></i>
            Information </a>
          </li>
          <li id="textualLI">
            <a>
            <i class="fa fa-bold"></i>
            Descriptions </a>
          </li>
          <li id="gridsLI" class="active">
            <a>
            <i class="fa fa-map-marker"></i>
            Grids </a>
          </li>
          <li id="previewLI">
            <a>
            <i class="fa fa-file-image-o"></i>
            Preview </a>
          </li>
          <% if can? :manage, Map %>
          <li id="editMapLI">
            <%= link_to edit_map_path(@map.id) do %>
              <i class="glyphicon glyphicon-edit"></i>
              <%= t(:set_attributes, :scope => [:map]) %>
            <% end %>                
          </li>
          <li>
            <%= link_to location_map_path(@map.id) do %>
              <i class="glyphicon glyphicon-map-marker"></i>
              <%= t(:set_location, :scope => [:map]) %>
            <% end %>
          </li>
          <% end %>
          <% if @map.downloadable %>
            <% unless @active_download_tickets.size > 0 %>
            <li id="requestLI" class="bg-success" data-toggle="modal" data-target="#newDownloadRequestDialog">
              <a>
                <i class="fa fa-download"></i>
                <%= t(:send_download_request, :scope => [:map]) %>                  
              </a>
            </li>
            <% else %>
            <li id="requestLI" class="bg-success" data-toggle="modal" data-target="#activeDownloadRequestDialog">
              <a>
                <i class="glyphicon glyphicon-fire"></i>
                <%= t(:active_pending_request, :scope => [:map]) %>
              </a>
            </li>
            <% end %>
          <% end %>
        
          <% unless @active_update_tickets.size > 0 %>
          <li id="updateLI" class="bg-info" data-toggle="modal" data-target="#newUpdateRequestDialog">
            <a>
              <span class="glyphicon glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <%= t(:send_update_request, :scope => [:map]) %>
            </a>
          </li>           
          <% else %>
          <li id="updateLI" class="bg-info" data-toggle="modal" data-target="#activeUpdateRequestDialog">
            <a>
              <i class="glyphicon glyphicon-time"></i>
              <%= t(:active_update_request, :scope => [:map]) %>
            </a>
          </li>
          <% end %>
        </ul>
      </div>
      <!-- END MENU -->
    </div>
  </div>
  <div class="col-md-9">
    <div class="profile-content">
        <!-- ATTRIBUTES AND EXTENDED ATTRIBUTES -->
        <div id="information" class="hidden">
          <div class="col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading"><%= t(:extended_attributes, :scope => [:map]) %></div>
              <div class="panel-body">
                <table class="table table-responsive">
                <tbody>
                    <tr>
                      <td class="text-success small-head-line"><%= Map.human_attribute_name("original_file_size") %></td>
                      <td class="quipped"><%= number_to_human_size(@map.image.size) %></td>
                    </tr>
                    <tr>
                      <td class="text-success small-head-line"><%= Map.human_attribute_name("kind") %></td>
                      <td class="quipped">
                      <%= @map.kind %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-success small-head-line"><%= Map.human_attribute_name("size") %></td>
                      <td class="quipped"><%= @map.size %></td>
                    </tr>
                    <tr>
                      <td class="text-success small-head-line"><%= Map.human_attribute_name("resolution") %></td>
                      <td class="quipped">
                          <%= @map.resolution %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-success small-head-line"><%= Map.human_attribute_name("year") %></td>
                      <td class="quipped"><%= @map.year %></td>
                    </tr>
                    <tr>
                      <td class="text-success small-head-line"><%= Map.human_attribute_name("theme") %></td>
                      <td class="quipped"><%= @map.theme %></td>
                    </tr>
                    <tr>
                      <td class="text-success small-head-line"><%= Map.human_attribute_name("creator") %></td>
                      <td class="quipped"><%= @map.creator %></td>
                    </tr>
                    <tr>
                      <td class="text-success small-head-line"><%= Map.human_attribute_name("participante") %></td>
                      <td class="quipped"><%= @map.participante %></td>
                    </tr>
                    <tr>
                      <td class="text-success small-head-line"><%= Map.human_attribute_name("created") %></td>
                      <td  class="quipped"><%= @map.created_at.strftime("%Y-%B-%e") %></td>
                    </tr>
                </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading"><%= t(:additional_attributes, :scope => [:map]) %></div>
              <div class="panel-body">
                <table class="table table-responsive">
                  <tbody>
                    <tr>
                      <td class="text-warning small-head-line"><%= Map.human_attribute_name("section") %></td>
                      <td class="quipped">
                      <%= @map.section %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-warning small-head-line"><%= Map.human_attribute_name("projection") %></td>
                      <td class="quipped">
                      <%= @map.projection %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-warning small-head-line"><%= Map.human_attribute_name("gridding") %></td>
                      <td class="quipped">
                      <%= @map.gridding %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-warning small-head-line"><%= Map.human_attribute_name("physical_size") %></td>
                      <td class="quipped">
                      <%= @map.physical_size %>
                      </td>
                    </tr>
                  <tr>
                    <td class="text-warning small-head-line"><%= Map.human_attribute_name("source") %></td>
                    <td class="quipped"><%= @map.source %></td>
                  </tr>
                  <tr>
                    <td class="text-warning small-head-line"><%= Map.human_attribute_name("language") %></td>
                    <td class="quipped"><%= @map.language %></td>
                  </tr>
                    <tr>
                      <td class="text-warning small-head-line"><%= Map.human_attribute_name("original_filename") %></td>
                      <td  class="quipped">
                        <%= @map.image.original_filename %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-warning small-head-line"><%= Map.human_attribute_name("status") %></td>
                      <td  class="quipped"><i class="<%= status_to_icon(@map.processed) %>"></i> <%= status_to_text(@map.processed) %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- DESCRIPTION AND REMARKS -->
        <div id="textual-data" class="hidden">
          <div class="col-md-6">
            <div class="panel panel-info">
              <div class="panel-heading"><%= t(:description_info, :scope => [:map]) %></div>
              <div class="panel-body">
                <%= @map.description.html_safe %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-info">
              <div class="panel-heading"><%= t(:remarks_info, :scope => [:map]) %></div>
              <div class="panel-body">
                <%= @map.remarks.html_safe %>
              </div>
            </div>
          </div>
        </div>

        <!-- GRID MAP -->
        <div id="gridmap">
          <div class="head-line">
            <h1><%= t(:geographical_location, :scope => [:map]) %></h1>
          </div>

          <div id="map" class="minimap"></div>
          <br>
          <!--
          <% if can? :manage, Map %>
            <div class="media">
              <br>
              <%= link_to location_map_path(@map.id), :class => "pull-left" do %>
                  <i class="glyphicon glyphicon-map-marker media-object" style="font-size:64px;"></i>
              <% end %>
              <div class="media-body">
                <h4 class="media-heading"><%= t(:set_location, :scope => [:map]) %></h4>
                Geolocating projectionless maps that can be implemented without distorting or transforming the original material.
              </div>
            </div>
          <% end %>
          -->
        </div>
        <!-- MAP IMAGE -->
        <div id="image" class="hidden">
          <img id="<%= @map.id %>" src="<%= @map.image.url(:large) %>" class="img-responsive" />
        </div>
    </div>
  </div>
</div>

<!-- NEW DOWNLOAD REQUEST Modal -->
<div class="modal fade" id="newDownloadRequestDialog" tabindex="-1" role="dialog" aria-labelledby="myDownloadRequestLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myDownloadRequestLabel"><%= t(:download_request_page_header, :scope => [:ticket]) %> <small class="text-primary"><%= @map.name %></small></h4>
      </div>
      <%= render :partial => 'tickets/form', :locals => {:ticket => @download_ticket, :request_type => @download_ticket.request_type, :map_id => @map.id} %>
    </div>
  </div>
</div>

<!-- NEW UPDATE REQUEST Modal -->
<div class="modal fade" id="newUpdateRequestDialog" tabindex="-1" role="dialog" aria-labelledby="myUpdateRequestLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myUpdateRequestLabel"><%= t(:update_request_page_header, :scope => [:ticket]) %> <small class="text-primary"><%= @map.name %></small></h4>
      </div>
      <%= render :partial => 'tickets/form', :locals => {:ticket => @update_ticket, :request_type => @update_ticket.request_type, :map_id => @map.id} %>
    </div>
  </div>
</div>

<% if @active_download_tickets.size > 0 %>
<!-- ACTIVE DOWNLOAD REQUEST Modal -->
<div class="modal fade" id="activeDownloadRequestDialog" tabindex="-1" role="dialog" aria-labelledby="myDownloadRequestLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myDownloadRequestLabel">
          <%= status_to_icon(@active_download_tickets.first.status) %><%= @active_download_tickets.first.status %>&nbsp;<small class="text-primary"><%= @map.name %></small>
        </h4>
      </div>
      <%= render :partial => 'tickets/ticket', :locals => {:ticket => @active_download_tickets.first} %>
    </div>
  </div>
</div>
<% end %>

<% if @active_update_tickets.size > 0 %>
<!-- ACTIVE UPDATE REQUEST Modal -->
<div class="modal fade" id="activeUpdateRequestDialog" tabindex="-1" role="dialog" aria-labelledby="myUpdateRequestLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myUpdateRequestLabel">
          <%= status_to_icon(@active_download_tickets.first.status) %><%= @active_update_tickets.first.status %>&nbsp;<small class="text-primary"><%= @map.name %></small>
        </h4>
      </div>
      <%= render :partial => 'tickets/ticket', :locals => {:ticket => @active_update_tickets.first} %>
    </div>
  </div>
</div>
<% end %>