<script type="text/javascript">
  var polygons = JSON.parse('<%= raw @polygons %>');
  var grids = JSON.parse('<%= raw @grids %>');
  var wkt = new OpenLayers.Format.WKT();
  var viewMode = true;

  function initializeGridsOnMap(){
    for(idx in polygons){
      polygon = polygons[idx];

      var feature = wkt.read(polygon.bbox);

      if(grids.indexOf(polygon.name) > -1){
        var feature_style = {
            strokeWidth: 1,
            fillColor: '#FFA500',
            fillOpacity: 0.2,
            label : ("Grid: " + polygon.name),
            fontSize: "18px",
            fontFamily: "Verdana",
            labelAlign: "${align}",
            labelXOffset: "${xOffset}",
            labelYOffset: "${yOffset}"
        };
        feature.style = feature_style;
      }

      feature.attributes = {
        grid: polygon.name
      };


      feature.geometry.transform(map.displayProjection, map.getProjectionObject());
      vectorLayer.addFeatures([feature]);
    }

    if(polygons.length > 0){
      map.zoomToExtent(vectorLayer.getDataExtent());
    }
  };

  $(document).ready(function(){
    init();
    initializeGridsOnMap();

    $("#mapInfoPanel li").click(function(){
      // HIDE ALL MAP INFO DIVS AND LIST ITEM INACTIVE
      var infoDivs = ['image', 'textdata', 'information', 'gridmap'];
      var listItems = ['infoLI', 'descriptionLI', 'gridsLI', 'previewLI'];
      for(var i = 0; i < infoDivs.length; i++){
        $('#' + infoDivs[i]).addClass('hidden');
        $('#' + listItems[i]).removeClass('active');
      }

      // SET ACTIVE LIST ITEM
      $(this).addClass('active');

      // SHOW DIV BY LIST ITEM
      switch(this.id){
        case 'infoLI':
          $('#information').removeClass('hidden');
          break;
        case 'descriptionLI':
          $('#textdata').removeClass('hidden');
          break;
        case 'gridsLI':
          $('#gridmap').removeClass('hidden');
          break;
        case 'previewLI':
          $('#image').removeClass('hidden');
          break;
        default:
          break;
      }
    });
    console.log("END");
  });

</script>

    <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <center><a data-toggle="modal" class="btn btn-circle-lg btn-info"><i class="fa fa-info"></i> </a></center>
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= @map.name %>
          </div>
          <div class="profile-usertitle-job">
            <%= @map.creator %>
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul id="mapInfoPanel" class="nav">
            <li id="infoLI">
              <a>
              <i class="fa fa-info"></i>
              Information </a>
            </li>
            <li id="descriptionLI">
              <a>
              <i class="fa fa-file-text-o"></i>
              Description and Remarks </a>
            </li>
            <li id="gridsLI" class="active">
              <a>
              <i class="fa fa-map-marker"></i>
              Grids </a>
            </li>
            <li id="previewLI">
              <a>
              <i class="fa fa-file-image-o"></i>
              Preview </a>
            </li>
            <li id="requestLI">
              <% unless @active_download_tickets.size > 0 %>
                <%= link_to new_ticket_path(map_id: @map.id, request_type: 'DOWNLOAD') do %>
                  <i class="fa fa-download"></i>
                  <%= t(:send_download_request, :scope => [:map]) %>
                <% end %>
              <% else %>
                <%= link_to ticket_path(@active_download_tickets.first.id) do %>
                  <i class="glyphicon glyphicon-fire"></i>
                  <%= t(:active_pending_request, :scope => [:map]) %>
                <% end %>
              <% end %>
            </li>
            <li id="updateLI">
              <%= link_to new_ticket_path(map_id: @map.id, request_type: 'UPDATE') do %>
                <span class="glyphicon glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <%= t(:send_update_request, :scope => [:map]) %>
              <% end %>              
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
          <!-- MAP IMAGE -->
          <div id="image" class="hidden">
            <img id="<%= @map.id %>" src="<%= @map.image.url(:large) %>" class="img-responsive" />
          </div>

          <!-- DESCRIPTION AND REMARKS -->
          <div id="textdata" class="hidden">
              <h3><%= Map.human_attribute_name("description") %></h3>
              <div class="panel panel-default">
                <div class="panel-body">
                  <%= @map.description.html_safe %>
                </div>
              </div>

              <h3><%= Map.human_attribute_name("remarks") %></h3>
              <div class="panel panel-default">
                <div class="panel-body">
                  <%= @map.remarks.html_safe %>
                </div>
              </div>
          </div>

          <!-- ATTRIBUTES AND EXTENDED ATTRIBUTES -->
          <div id="information" class="hidden">
            <br><br><br><br><br>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#fileInformation" aria-controls="fileInfo" role="tab" data-toggle="tab">
                <%= t(:file_information, :scope => [:map]) %>
              </a></li>
              <li role="presentation"><a href="#mapAttributes" aria-controls="mapAttr" role="tab" data-toggle="tab">
                <%= t(:extended_attributes, :scope => [:map]) %>
              </a></li>
              <li role="presentation"><a href="#mapExtAttributes" aria-controls="mapExtAttr" role="tab" data-toggle="tab">
                <%= t(:additional_attributes, :scope => [:map]) %>
              </a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <!-- FILE INFORMATION -->
              <div role="tabpanel" class="tab-pane active" id="fileInformation">
                <table class="table table-striped table-responsive">
                <tbody>
                    <tr>
                      <td class="text-info"><%= Map.human_attribute_name("original_file_size") %></td>
                      <td><%= number_to_human_size(@map.image.size) %></td>
                    </tr>
                    <tr>
                      <td class="text-info"><%= Map.human_attribute_name("original_filename") %></td>
                      <td>
                        <%= @map.image.original_filename %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-info"><%= Map.human_attribute_name("status") %></td>
                      <td><i class="<%= status_to_icon(@map.processed) %>"></i> <%= status_to_text(@map.processed) %></td>
                    </tr>
                    <tr>
                      <td class="text-info"><%= Map.human_attribute_name("created") %></td>
                      <td><%= @map.created_at.strftime("%Y-%B-%e") %></td>
                    </tr>
                </tbody>
                </table>
                <% if @map.downloadable %>
                  <div class="media">
                    <%= link_to @map.image.url(:original), :class => "pull-left" do %>
                      <i class="glyphicon glyphicon-cloud-download media-object" style="font-size:64px;"></i>
                    <% end %>
                    <div class="media-body">
                      <h4 class="media-heading"><%= t(:download, :scope => [:map]) %></h4>
                      Map can be downloaded directly, or <b>Right-click</b>, then select <i>Save Link as ...</i>
                    </div>
                  </div>
                <% end %>
              </div>
              <!-- EXTENDED ATTRIBUTES -->
              <div role="tabpanel" class="tab-pane" id="mapAttributes">
                <table class="table table-striped table-responsive">
                <tbody>
                    <tr>
                      <td class="text-success"><%= Map.human_attribute_name("kind") %></td>
                      <td>
                      <%= @map.kind %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-success"><%= Map.human_attribute_name("size") %></td>
                      <td><%= @map.size %></td>
                    </tr>
                    <tr>
                      <td class="text-success"><%= Map.human_attribute_name("resolution") %></td>
                      <td>
                          <%= @map.resolution %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-success"><%= Map.human_attribute_name("year") %></td>
                      <td><%= @map.year %></td>
                    </tr>
                    <tr>
                      <td class="text-success"><%= Map.human_attribute_name("theme") %></td>
                      <td><%= @map.theme %></td>
                    </tr>
                    <tr>
                      <td class="text-success"><%= Map.human_attribute_name("creator") %></td>
                      <td><%= @map.creator %></td>
                    </tr>
                    <tr>
                      <td class="text-success"><%= Map.human_attribute_name("participante") %></td>
                      <td><%= @map.participante %></td>
                    </tr>
                </tbody>
                </table>
                <% if can? :manage, Map %>
                  <div class="media">
                    <%= link_to edit_map_path(@map.id), :class => "pull-left" do %>
                      <i class="glyphicon glyphicon-th-list media-object" style="font-size:64px;"></i>
                    <% end %>

                    <div class="media-body">
                      <h4 class="media-heading"><%= t(:set_attributes, :scope => [:map]) %></h4>
                      Updating attributes, set processed status and set if current map can be downloaded or not.
                    </div>
                  </div>
                <% end %>
              </div>
              <!-- BASE ATTRIBUTES -->
              <div role="tabpanel" class="tab-pane" id="mapExtAttributes">
                <table class="table table-striped table-responsive">
                  <tbody>
                    <tr>
                      <td class="text-warning"><%= Map.human_attribute_name("section") %></td>
                      <td>
                      <%= @map.section %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-warning"><%= Map.human_attribute_name("projection") %></td>
                      <td>
                      <%= @map.projection %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-warning"><%= Map.human_attribute_name("gridding") %></td>
                      <td>
                      <%= @map.gridding %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-warning"><%= Map.human_attribute_name("physical_size") %></td>
                      <td>
                      <%= @map.physical_size %>
                      </td>
                    </tr>
                  <tr>
                    <td class="text-warning"><%= Map.human_attribute_name("source") %></td>
                    <td><%= @map.source %></td>
                  </tr>
                  <tr>
                    <td class="text-warning"><%= Map.human_attribute_name("language") %></td>
                    <td><%= @map.language %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- GRID MAP -->
          <div id="gridmap">
            <h3><%= t(:geographical_location, :scope => [:map]) %></h3>
            <hr>
            <div id="map" class="minimap"></div>
            <% if can? :manage, Map %>
              <div class="media">
                <br>
                <%= link_to location_map_path(@map.id), :class => "pull-left" do %>
                    <i class="glyphicon glyphicon-map-marker media-object" style="font-size:64px;"></i>
                <% end %>
                <div class="media-body">
                  <h4 class="media-heading"><%= t(:set_location, :scope => [:map]) %></h4>
                  Geolocating projectionless maps that can be implemented without distorting or transforming the original material.
                </div>
              </div>
            <% end %>          
          </div>

      </div>
    </div>
  </div>