<div class="row">
  <div class="col-md-3">&nbsp;</div>
  <div class="col-md-6">
    <h2>Forgot your password?</h2>
    <hr>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form' }) do |f| %>
      <div class="form-group">
        <p class="text-warning">
          <%= devise_error_messages! %>
        </p>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Send me reset password instructions", :class => "btn btn-warning btn-block" %>
      </div>
    <% end %>

  </div>
  <div class="col-md-3">&nbsp;</div>
</div>


<br>
<div class="row">
  <div class="col-md-3">&nbsp;</div>
  <div class="col-md-6">
    <%= render "devise/shared/links" %>
  </div>
  <div class="col-md-3">&nbsp;</div>
</div>


