<script>
  $(function() {
      $('.ticket-message').editable({
        inlineMode: false, 
        height: '300',
        toolbarFixed: false,
        paragraphy: false
      });
  });
</script>

<%= form_for ticket, :html => {:class => "form-horizontal", :role => "form"} do |f| %>
  <%= render "shared/error_messages", :target => ticket %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :map_id, :value => map_id %>
  <%= f.hidden_field :request_type, :value => request_type %>

<div class="modal-body">
      <%= f.text_area :message, :value => ticket.message, :class => 'ticket-message' %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal"><%= t(:cancel, :scope => [:application]) %></button>
  <%= f.submit t(:send_request, :scope => [:ticket]), :class => "btn btn-primary" %>
</div>
<% end %>
