<div class="page-header">
  <h1>List of <small>Download requests</small></h1>
</div>
<table class="table table-responsive table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>User</th>
			<th>Email</th>
			<th>Map Name</th>
			<th><center>Requested at</center></th>
			<th><center>Updated at</center></th>
		</tr>
	</thead>
	<tbody>
		<% @tickets.each do |ticket| %>
		<tr>
			<td><%= ticket.user.name %></td>
			<td><%= ticket.user.email %></td>
			<td><%= link_to ticket.map.name, map_path(ticket.map.id) %></td>
			<td><center><%= ticket.created_at.strftime("%Y, %B %d - %H:%M ") %></center></td>
			<td><center><%= ticket.updated_at.strftime("%Y, %B %d - %H:%M ") %></center></td>
		</tr>
		<% end %>		
	</tbody>
</table>