<script>
  $(function() {
      $('#edit').editable({inlineMode: false, height: '300'})
  });
</script>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="page-header">
      <% if @request_type.eql? 'DOWNLOAD' %>
        <h1><%= t(:download_request_page_header, :scope => [:ticket]) %> <small class="text-primary"><%= @map.name %></small></h1>
      <% else %>
        <h1><%= t(:update_request_page_header, :scope => [:ticket]) %> <small class="text-primary"><%= @map.name %></small></h1>
      <% end %>
		</div>

        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table table-striped table-responsive">
            <tbody>
                <tr>
                  <td><%= Map.human_attribute_name("kind") %></td>
                  <td>
                  <%= @map.kind %>
                  </td>
                </tr>
                <tr>
                  <td><%= Map.human_attribute_name("size") %></td>
                  <td><%= @map.size %></td>
                </tr>
                <tr>
                  <td><%= Map.human_attribute_name("resolution") %></td>
                  <td>
                      <%= @map.resolution %>
                  </td>
                </tr>
                <tr>
                  <td><%= Map.human_attribute_name("year") %></td>
                  <td><%= @map.year %></td>
                </tr>
                <tr>
                  <td><%= Map.human_attribute_name("theme") %></td>
                  <td><%= @map.theme %></td>
                </tr>
                <tr>
                  <td><%= Map.human_attribute_name("creator") %></td>
                  <td><%= @map.creator %></td>
                </tr>
                <tr>
                  <td><%= Map.human_attribute_name("participante") %></td>
                  <td><%= @map.participante %></td>
                </tr>
            </tbody>
            </table>
          </div>
        </div>
		<h3><%= Ticket.human_attribute_name("message") %></h3>
		<%= render :partial => 'form', :locals => {:ticket => @ticket, :request_type => @request_type, :map_id => @map.id} %>
	</div>
</div>