<div class="row">
  <!-- Search by Name -->
  <div class="col-md-4">
    <br>
    <%= form_tag search_admin_users_path, :class => "form", :role => "search", :remote => true do %>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-user"></i>
        </span>
        <%= text_field_tag :name, nil, :class => "form-control", :placeholder => User.human_attribute_name('name'), :type => "text" %>
        <div class="input-group-btn">
          <%= button_tag(type: "submit", class: "btn btn-success") do %>
            <%= t(:search, :scope => [:application]) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Search by email address -->
  <div class="col-md-4">
    <br>
    <%= form_tag search_admin_users_path, :class => "form", :role => "search", :remote => true do %>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-envelope-o"></i>
        </span>
        <%= text_field_tag :email, nil, :class => "form-control", :placeholder => User.human_attribute_name('email'), :type => "text" %>
        <div class="input-group-btn">
          <%= button_tag(type: "submit", class: "btn btn-success") do %>
            <%= t(:search, :scope => [:application]) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <!-- Search by user role -->
  <div class="col-md-4">
    <br>
    <%= form_tag search_admin_users_path, :class => "form", :role => "search", :remote => true do %>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-lock"></i>
        </span>
        <%= text_field_tag :role, nil, :class => "form-control", :placeholder => User.human_attribute_name('role'), :type => "text" %>
        <div class="input-group-btn">
          <%= button_tag(type: "submit", class: "btn btn-success") do %>
            <%= t(:search, :scope => [:application]) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="users_list" class="row">

</div>