<div class="row">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-8">

      <h2>Users List</h2>
      <hr>

      <%= form_tag(admin_users_path, :role => 'form') do %>
      <table class="table table-condensed table-bordered table-responsive">
        <thead>
          <th>User Name</th>
          <th>Email Address</th>
          <th>Created at</th>
          <th>Role</th>
          <th>Action</th>
        </thead>
        <tbody>
          <% for user in @users %>
          <tr class="active">
            <%= fields_for "users[]", user do |f| %>
              <td><%=h user.name %></td>
              <td><%=h user.email %></td>
              <td><%=h user.created_at.strftime("%Y-%B-%e") %></td>
              <td><span class="label label-success"><%=h user.role %></span></td>
              <td><%= f.collection_select :role, User::ROLES, :to_s, :humanize, {:selected => user.role}, :class => 'form-control' %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <%= submit_tag "Submit", :class => "btn btn-primary btn-block" %>
            </td>
          </tr>
        </tfoot>
      </table>
      <% end %>

    <center><%= paginate @users %></center>
  </div>
  <div class="col-md-2">&nbsp;</div>
</div>